<a href="https://colab.research.google.com/github/kaisacht/Project1/blob/main/CleaningDataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
#Khai báo thư viện caanf dùng thư viện pandas dùng để xử lý dữ liệu
import pandas as pd

In [ ]:
# hàm để tải file lên project
from google.colab import files
uploaded = files.upload()

In [90]:
#đọc dữ liệu từ file csv
df = pd.read_csv("upload_DJIA_table.csv")
df

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234
...,...,...,...,...,...,...,...
1984,2008-08-14,11532.070312,11718.280273,11450.889648,11615.929688,159790000,11615.929688
1985,2008-08-13,11632.809570,11633.780273,11453.339844,11532.959961,182550000,11532.959961
1986,2008-08-12,11781.700195,11782.349609,11601.519531,11642.469727,173590000,11642.469727
1987,2008-08-11,11729.669922,11867.110352,11675.530273,11782.349609,183190000,11782.349609
1988,2008-08-08,11432.089844,11759.959961,11388.040039,11734.320312,212830000,11734.320312

In [91]:
# xóa đi các cột không cần thiết chỉ để lại cột Close là giá đóng cứa
df1 = df.drop(["Open","High","Low","Volume","Adj Close"], axis=1)
df1

            Date         Close
0     2016-07-01  17949.369141
1     2016-06-30  17929.990234
2     2016-06-29  17694.679688
3     2016-06-28  17409.720703
4     2016-06-27  17140.240234
...          ...           ...
1984  2008-08-14  11615.929688
1985  2008-08-13  11532.959961
1986  2008-08-12  11642.469727
1987  2008-08-11  11782.349609
1988  2008-08-08  11734.320312

[1989 rows x 2 columns]

In [92]:
dataset = df1['Close']
dataset

0       17949.369141
1       17929.990234
2       17694.679688
3       17409.720703
4       17140.240234
            ...
1984    11615.929688
1985    11532.959961
1986    11642.469727
1987    11782.349609
1988    11734.320312
Name: Close, Length: 1989, dtype: float64

In [93]:
#độ dài của dataset
print(len(dataset))

1989

In [94]:
df2 = dataset.values.reshape(len(dataset), 1)

In [95]:
#tách dataset thành các phần có độ dài là một
df2

array([[17949.369141],
       [17929.990234],
       [17694.679688],
       ...,
       [11642.469727],
       [11782.349609],
       [11734.320312]])

In [ ]:
#khai báo thư viện numpy dùng để làm việc với số
import numpy as np

In [ ]:
#định nghĩa hàm để tách bộ dataset thành các phần bằng nhau ví dụ 3,5,7,14,... ngày(series =ngày)
def create_ts(ds, series):
  x = []
  for i in range (len(ds)-series-1):
    item = ds[i:(i+series),0]
    x.append(item)
  return np.array(x)

In [97]:
# chạy thử tách bộ dataset ban đầu thành các nhóm mà môi nhóm là dữ liệu lức đóng của của 5 ngày
series =5
df4 = create_ts(df2, series)
df4

array([[17949.369141, 17929.990234, 17694.679688, 17409.720703,
        17140.240234],
       [17929.990234, 17694.679688, 17409.720703, 17140.240234,
        17400.75    ],
       [17694.679688, 17409.720703, 17140.240234, 17400.75    ,
        18011.070312],
       ...,
       [11417.429688, 11348.549805, 11479.389648, 11659.900391,
        11615.929688],
       [11348.549805, 11479.389648, 11659.900391, 11615.929688,
        11532.959961],
       [11479.389648, 11659.900391, 11615.929688, 11532.959961,
        11642.469727]])